<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /mysite2/
    RewriteRule ^/mysite2/index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /mysite2/index.php [L]
</IfModule>